<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">DETool</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="add">Add</a></li>
        <li><a href="delete">Delete</a></li>
        <li><a href="update">Update</a></li>
        <li><a href="view">View</a></li>
      </ul>
      </div>
      </nav>
  <h1>[Problem statement]</h1>
  <h4>Develop a pseudo full-stack application in any tech stack which lists and show all words added to the database.</h4>
  <h1>[Solution]</h1>
  <h4>This application is build in respect to the above mentioned problem.The name given to this application is DETool , which basically means data entry tool . This application is capable of adding , deleting and modifying data present in a database.</h4>
  <h3>Technologies used in the application</h3>
  <ul type="disc">
    <li>HTML</li>
    <li>CSS</li>
    <li>bootstrap</li>
    <li>Python-Flask</li>
  </ul>
  <h3>Features inculed in the application</h3>
  <ul type="disc">
    <li>Add : To add a word to the database</li>
    <li>Delte : To delete a word from the database</li>
    <li>Update : To replace a existing word from the database</li>
    <li>View : To view all the records in the database</li>
  </ul>
  <h3>Cases that have been taken in consideration while developing the application</h4>
  <h4>Case 1 : If you try to add more than one word it will give you an error</h4>
  <h4>Case 2 : If you try to enter already existing word in a database it will give you can error</h4>
  <h4>Case 3 : If you try to update a word with already existing word it will give you an error</h4>
  <h4>Case 4 : If you try t0 update one word with multiple it will give you an error</h4>
  <h3><b>Demo video of the tool</b></h3>
  <center><video controls autoplay width="1080" height="500">
  <source src="./static/demo.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>
</center>
  </body>
</html>
