<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>successfull</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">DETool</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="add">Add</a></li>
        <li><a href="delete">Delete</a></li>
        <li><a href="update">Update</a></li>
        <li><a href="view">View</a></li>
      </ul>
      </div>
      </nav>
  <center>
  <h1>{{header}}</h1>
  <h4 style="color:Green">{{comment}}</h4>
  <p><a href="/"><input type="submit" value="Retrun To Home" class="btn btn-info"></a></p>
  </center>
  </body>
</html>
